*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore hibernate configurtion file
hibernate.cfg.xml

# ignore any properties files which might contain sensitive data
*.properties

#ignore SSH Keys
ras
ras.pub

# ignore library ElasticlySearchable which is propriotry
ElasticlySearchable/
ElasticlySearchable

# ignore target folder
target/
target